{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

</head>
<body>
 
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="{% url 'home' %}">OnlineShop</a>

        <!-- Mobile Menu Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <!-- Home -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>


                <li class="nav-item">
                   <a class="nav-link" href="{% url 'products' %}">Products</a>

                </li>
                
                

                <!-- About -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About Us</a>

                </li>

                <!-- Contact -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>

                </li>

                <!-- Login -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>

                <!-- Cart -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cart' %}">
                        Cart 
                        <span class="badge bg-warning text-dark">
                            {{ request.session.cart|length }}
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

    </header>

    <section class="search-filter">
        <form method="get" class="filter-form">
            <input type="text" name="q" placeholder="Search products..." value="{{ request.GET.q }}">
            <select name="category">
                 {% for cat in categories %}
                     <option value="{{ cat.id }}">{{ cat.name }}</option>
                 {% endfor %}
            </select>

            <button type="submit">Search</button>
        </form>
    </section>


    <section class="product-list">
        {% if products %}
            <div class="products-grid">
                {% for product in products %}
                <div class="product-card">
                    <a href="{% url 'product_detail' product.slug %}">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                        <h3>{{ product.name }}</h3>
                    </a>
                    <p class="price">₹{{ product.price }}</p>
                    <a href="{% url 'add_to_cart' product.id %}" class="btn-add-cart">Add to Cart</a>
                    <a href="{% url 'add_to_cart' product.id %}?buy_now=1" class="btn-buy-now">Buy Now</a>

                </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No products found.</p>
        {% endif %}
    </section>

    <footer>
        <p>&copy; 2025 OnlineShop. All rights reserved.</p>
    </footer>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
